.numbers {
    color: rgb(231, 23, 190) !important;
    text-shadow:
      0 0 7px rgba(231, 23, 190, 0.8),
      0 0 10px rgba(231, 23, 190, 0.6),
      0 0 21px rgba(231, 23, 190, 0.4),
      0 0 42px rgba(231, 23, 190, 0.3),
      0 0 82px rgba(231, 23, 190, 0.2),
      0 0 92px rgba(231, 23, 190, 0.1),
      0 0 102px rgba(231, 23, 190, 0.05),
      0 0 151px rgba(231, 23, 190, 0.03);
}

.neon {
    color: rgb(228, 221, 227) !important;
    text-shadow:
      0 0 7px rgba(231, 23, 190, 0.8),
      0 0 10px rgba(231, 23, 190, 0.6),
      0 0 21px rgba(231, 23, 190, 0.4),
      0 0 42px rgba(231, 23, 190, 0.3),
      0 0 82px rgba(231, 23, 190, 0.2),
      0 0 92px rgba(231, 23, 190, 0.1),
      0 0 102px rgba(231, 23, 190, 0.05),
      0 0 151px rgba(231, 23, 190, 0.03);
}