#root {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rc-card-title {
  color: #000000 !important;
  width: 100% !important;
  text-align: center !important;
}

.timeline-horz-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
